<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initialscale=1.0" />
    <title>@ViewBag.Title</title>
    <environment include="Development">
        <link rel="stylesheet"
              href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallbackhref=" ~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-testproperty="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" aspappend-version="true" />
    </environment>
    <title>@ViewBag.Title - My ASP.NET Application</title>
</head>
<body>
    <div class="container body-content">
        <header>
            <h1>ASP .NET MVC例子</h1>
        </header>
        <nav>
            <ul>
                <li><a asp-controller="ViewsDemo" asp-action="LayoutSample">LayoutSample</a></li>
                <li><a asp-controller="ViewsDemo" asp-action="LayoutUsingSections">Layout Using Sections</a></li>
            </ul>
        </nav>
        <div>
            @RenderSection("PageNavigation", required: false)
        </div>
        <div>
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>
                <div>MVC 例子</div> @DateTime.Now.Year - My ASP.NET Application
            </p>
        </footer>
    </div>
</body>
</html>
